<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <div th:insert="blocks/header" ></div>
</head>
<body>
<center><h1>Информационная система "Распределение задач"</h1></center>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<center>
  <p>
    В системе будет реализована возможность авторизации и регистрации в свой аккаунт.
    Сотрудник главного отдела может выдавать задания и назначать встречи группе сотрудников, просматривать статусы выполнения задания сотрудниками
    младшего отдела.
    Сотрудник младшего отдела может просматривать выданные задания,
    изменять статус выполнения собственного задания, просматривать и посищать назначенные встречи, вести мобственные заметки.
    Сотрудники младшего и старшего отделов могут вести обсуждения по заданию.
    Администратор сможет добавлять новых пользователей и назначать им роли, просматривать данные о сотрудниках.
  </p>
</center>
</body>
<footer>
  <div th:insert="blocks/footer" ></div>
</footer>
</html>