<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <div th:insert="blocks/header" />
</head>
<body>
<div class=ex1><h1>Создание заметки</h1></div>
<br/>
<br/>
<br/>
<form th:action="${'/myNotes/add'}" method="post">
    <div align="center" th:object="${notes}">
        <input type="text" name="nameNotes" placeholder="Название заметки"/>
        <div style="color: red" th:if="${#fields.hasErrors('nameNotes')}" th:errors="*{nameNotes}" />
    </div>
    <br/>
    <div align="center">
        <textarea name="descriptionNotes" placeholder="Содержание"></textarea>
    </div>
    <br/>
    <div align="center">
        <input type="date" name="deadLineDate" placeholder="Дата дэлайна"/>
        <input type="time" name="deadLineTime" placeholder="Время дэлайна" step="2"/>
    </div>
    <br/>
    <div align="center"><button type="submit" class="green">Сохранить</button></div>
</form>
</body>
<footer>
    <div th:insert="blocks/footer" ></div>
</footer>
</html>