<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/site.css}" rel="stylesheet" />
  <div th:insert="blocks/header" ></div>
</head>
<body>
<form th:each="el : ${modelPrivateData}" method="post">
  <h2 th:text="${el.getOwner().getFirstName()} +' '+${el.getOwner().getLastName()}+' '+${el.getOwner().getMiddleName()} "></h2>
  <table border="1" class="styled-table" >
    <tr>
      <th>Серия паспорта</th>
      <th>Номер паспорта</th>
      <th>Номер телефона</th>
      <th>Адрес</th>
    </tr>
    <tr th:object="${modelPrivateData}">
      <td>
        <input type="number" name="series" placeholder="Введите Серию паспорта" th:value="*{series}">
        <div style="color: red" th:if="${#fields.hasErrors('series')}" th:errors="*{series}"/>
      </td>
      <td>
        <input type="number" name="number" placeholder="Введите Номер паспорта" th:value="*{number}">
        <div style="color: red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
      </td>
      <td>
        <input type="number" name="telephoneNumber" placeholder="Введите Номер телефона" th:value="*{telephoneNumber}">
        <div style="color: red" th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{telephoneNumber}"/>
      </td>
      <td>
        <input type="text" name="employeeAddress" placeholder="Введите Серию паспорта" th:value="*{employeeAddress}">
        <div style="color: red" th:if="${#fields.hasErrors('employeeAddress')}" th:errors="*{employeeAddress}"/>
      </td>
    </tr>

  </table>
  <div align="center"><button type="submit" class="green">Изменить личные данные</button></div>
</form>
</body>
<footer>
  <div th:insert="blocks/footer" ></div>
</footer>
</html>